@import "../scss/theme";

.top {
	/* height: 40px; */
	background-color: #000;
}

.middle > * {
	justify-content: space-between;
}

.bottom {
	background: $color1;
}

.middle img {
	width: 25%;
}

.contact {
	align-items: center;
}
